Repository paulssonlab/paulssonlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: environment.yml, black

.pre-commit-config.yaml:

default_stages: [commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
        args: ['--fix=lf']
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: environment.yml
        name: Remove prefix from environment.yml files
        entry: ./fix-environment-files.sh
        language: script
        files: (^|/)environment\.(yml|yaml)$
    -   id: black
        name: Format .py files
        entry: black
        language: system
        types: [python]
    -   id: directory_tag
        name: Tag commit message with changed top-level directories
        entry: python ./directory_tag.py
        language: system
        stages: [commit-msg]

[shenker/snakenbake] Replaced L shape with QR target, put QR target on same grid as barcodes, reduced registration mark period from 50 to 25.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/geometry.py
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Barcodes now accept zero/one symbol geometry as arguments.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Cleaned up FOV fit calculation.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
Due: none

[shenker/snakenbake] Convenience function for comparing manifold and non-manifold chip resistances.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
Due: none

[shenker/snakenbake] Switched default zero symbol on barcode to be a triangle pointing towards outlet.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Pass through barcode options as snake kwargs, turn on memoization for barcode cells (was accidentally turned off).
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] WIP manifold_input_style. Implemented bend-out and u-turn. Also modified plot_cell to handle polygons, not just cells.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Made chips smaller to allow for more margin at the edge of wafer, wafer design now includes two different registration mark sizes for testing.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
Due: none

[shenker/snakenbake] Implemented bend-in manifold style.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Playing around with 50x50um manifold designs.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
Due: none

Moved commit hooks to a separate repo, added environment.yml sorter hook, added docformatter hook.
  .pre-commit-config.yaml
  directory_tag.py
  fix-environment-files.sh
Due: black

[shenker,eaton] Fixing docstring formatting, environment.yml sorting, and line endings.
  environment.yml
  paulssonlab/src/paulssonlab/eaton/trenchripper/python_install_inst.txt
  paulssonlab/src/paulssonlab/eaton/trenchripper/trenchripper/analysis.py
  paulssonlab/src/paulssonlab/eaton/trenchripper/trenchripper/interactive.py
  paulssonlab/src/paulssonlab/eaton/trenchripper/trenchripper/kymograph.py
  paulssonlab/src/paulssonlab/eaton/trenchripper/trenchripper/tplot.py
  paulssonlab/src/paulssonlab/eaton/trenchripper/trenchripper/unet.py
  paulssonlab/src/paulssonlab/eaton/trenchripper/trenchripper/utils.py
  paulssonlab/src/paulssonlab/shenker/fp-analysis/environment.yml
  paulssonlab/src/paulssonlab/shenker/matriarch/MANIFEST.in
  paulssonlab/src/paulssonlab/shenker/matriarch/environment.yml
  paulssonlab/src/paulssonlab/shenker/matriarch/matriarch/misc/__init__.py
  paulssonlab/src/paulssonlab/shenker/matriarch/matriarch/misc/holoborodko_diff.py
  paulssonlab/src/paulssonlab/shenker/matriarch/matriarch/misc/jdutil.py
  paulssonlab/src/paulssonlab/shenker/matriarch/matriarch/util.py
  paulssonlab/src/paulssonlab/shenker/matriarch/todo.txt
  paulssonlab/src/paulssonlab/shenker/molecule-counting/environment.yml
  paulssonlab/src/paulssonlab/shenker/molecule-counting/segmentation.py
  paulssonlab/src/paulssonlab/shenker/snakenbake/README.md
  paulssonlab/src/paulssonlab/shenker/snakenbake/environment.yml
  paulssonlab/src/paulssonlab/shenker/snakenbake/hamming.py
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
  paulssonlab/src/paulssonlab/shenker/tracking/Gurobi_tree_1.py
  paulssonlab/src/paulssonlab/shenker/tracking/cell_simuated_image_video.py
  paulssonlab/src/paulssonlab/shenker/tracking/code.py
  paulssonlab/src/paulssonlab/shenker/tracking/code_test_trench.py
  paulssonlab/src/paulssonlab/shenker/tracking/codec.py
  paulssonlab/src/paulssonlab/shenker/tracking/csivtree2.py
  paulssonlab/src/paulssonlab/shenker/tracking/environment.yml
  paulssonlab/src/paulssonlab/shenker/tracking/global_opt.py
  paulssonlab/src/paulssonlab/shenker/tracking/global_opt_2.py
  paulssonlab/src/paulssonlab/shenker/tracking/label1.py
  paulssonlab/src/paulssonlab/shenker/tracking/recent_tracking.py
  paulssonlab/src/paulssonlab/shenker/tracking/ts1_output.py
Due: environment.yml, black

[shenker/snakenbake] Fixed regression: alignment crosses appear on trench layer.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] WIP reimplemented wafer layout. Mask mode not implemented, but MLA mode works. Also changed to use layer numbers 0/1/2 instead of 0/2/6.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Fixed text line order when rotating -np.pi/2.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Can add text to right and left side of wafer.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Write wafer manifest on left side of wafer.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
Due: none

Added .envrc and .gds to .gitignore.
  .gitignore
Due: none

[shenker/snakenbake] Renamed inner/outer_snake_turn_radius to inner/outer_snake_bend_radius.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Docstring.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Moved plot_cell, write_gds into util.py.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
  paulssonlab/src/paulssonlab/shenker/snakenbake/util.py
Due: black

[shenker/snakenbake] Clean up.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Turn on memoization in a few places.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Record snake_length in metadata for snake chips.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Include chip ID in chip name.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
Due: none

[shenker/snakenbake] Pint np.array/np.asarray bug test case.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Pint bug test case.ipynb
Due: none

[shenker/snakenbake] Rewrite of hamming module.
  paulssonlab/src/paulssonlab/shenker/snakenbake/hamming.py
Due: black

Attempt at reorganizing to src layout with namespace packages.
  environment.yml
  paulssonlab/README.md
  paulssonlab/pyproject.toml
  paulssonlab/src/paulssonlab/__init__.py
  paulssonlab/src/paulssonlab/_version.py
  paulssonlab/src/paulssonlab/shenker/molecule-counting/__init__.py
  pyproject.toml
Due: environment.yml, black

Update tag_directory hook to strip paulsson/src/paulsson directory prefix.
  .pre-commit-config.yaml
Due: none

Re-added root-level environment.yml.
  environment.yml
Due: environment.yml

Updated install instructions to refer to nbcleanse conda env instead of paulssonlab conda env.
  README.md
  nbcleanse-environment.yml
Due: none

Fixed repo import instructions.
  README.md
Due: none

[shenker] Finish replacing dashes by underscores in project dir names.
  paulssonlab/src/paulssonlab/shenker/fp_analysis/.gitignore
  paulssonlab/src/paulssonlab/shenker/fp_analysis/.pre-commit-config.yaml
  paulssonlab/src/paulssonlab/shenker/fp_analysis/190528 FP analysis.ipynb
  paulssonlab/src/paulssonlab/shenker/fp_analysis/190612 FP analysis.ipynb
  paulssonlab/src/paulssonlab/shenker/fp_analysis/README.md
  paulssonlab/src/paulssonlab/shenker/fp_analysis/environment.yml
  paulssonlab/src/paulssonlab/shenker/lab_helper/180518 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/lab_helper/191204 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/lab_helper/191205 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/lab_helper/Pipfile
  paulssonlab/src/paulssonlab/shenker/lab_helper/README.md
  paulssonlab/src/paulssonlab/shenker/lab_helper/helper.py
Due: environment.yml, black

Updated README, including reverting some recent changes to repo install instructions.
  README.md
Due: none

README TODO.
  README.md
Due: none

README git workflow.
  README.md
Due: none

Forgot to un-rename this.
  environment.yml
Due: environment.yml

Exclude Jupyter notebooks from check-added-large-files commit hook.
  .pre-commit-config.yaml
Due: none

[molecule_counting] Updated environment.yml.
  paulssonlab/src/paulssonlab/projects/molecule_counting/environment.yml
Due: environment.yml
