Repository paulssonlab/paulssonlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, jupytext

black:
  name: Format .py files
  entry: black
  language: system

jupytext:
  name: Format .ipynb files
  entry: jupytext --quiet --from ipynb --pipe black
  language: system

Segmentation working for all except one FOV onn FP fusion test dataset.
  paulssonlab/src/paulssonlab/shenker/molecule-counting/200107 JQS Segmentation debugging.ipynb
  paulssonlab/src/paulssonlab/shenker/molecule-counting/200108 JQS Segmentation debugging.ipynb
  paulssonlab/src/paulssonlab/shenker/molecule-counting/200108 JQS Segmentation.ipynb
  paulssonlab/src/paulssonlab/shenker/molecule-counting/200109 JQS Segmentation.ipynb
  paulssonlab/src/paulssonlab/shenker/molecule-counting/200110 JQS Segmentation.ipynb
  paulssonlab/src/paulssonlab/shenker/molecule-counting/matriarch_stub.py
  paulssonlab/src/paulssonlab/shenker/molecule-counting/segmentation.py
Due: black, jupytext

Updated README.
  README.md
Due: none

Updated pre-commit hooks.
  .pre-commit-config.yaml
  fix-environment-files.sh
Due: none

Added environment.yml, removed -i argument from sed in environment.yml fixer.
  environment.yml
  fix-environment-files.sh
Due: none

Added git repo import tutorial to README.
  README.md
Due: none

Added instructions to add upstream remote.
  README.md
Due: none

Commits are automatically tagged with changed top-level directories.
  .pre-commit-config.yaml
  README.md
  directory_tag.py
Due: black

Added docstrings to most cell-generating functions.
  paulssonlab/src/paulssonlab/shenker/snakenbake/191208 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
  paulssonlab/src/paulssonlab/shenker/snakenbake/util.py
Due: black, jupytext

Use git merge --no-verify for repo importing.
  README.md
Due: none

README tweak.
  README.md
Due: none

Minimal repo-wide environment.yml using conda env export --from-history.
  environment.yml
Due: none

Needed empty argument to sed -i to work on macOS.
  fix-environment-files.sh
Due: none

Second-level subdirectories are now tagged in commit messages.
  directory_tag.py
Due: black

[shenker/snakenbake] environment.yml.
  paulssonlab/src/paulssonlab/shenker/snakenbake/environment.yml
Due: none

Switching from nbstripout to nbcleanse.
  .pre-commit-config.yaml
  README.md
  environment.yml
Due: none

[shenker/snakenbake] Fixed environment.yml.
  paulssonlab/src/paulssonlab/shenker/snakenbake/environment.yml
Due: none

[shenker/snakenbake] Added instructions to install fonts.
  paulssonlab/src/paulssonlab/shenker/snakenbake/README.md
  paulssonlab/src/paulssonlab/shenker/snakenbake/text.py
Due: black

[shenker/snakenbake] Forgot to finish docstring for wafer.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black

[shenker/snakenbake] environnment.yml was broken.
  paulssonlab/src/paulssonlab/shenker/snakenbake/environment.yml
Due: none

Use black through pre-commit repo.
  .pre-commit-config.yaml
Due: none

Initial commit
  paulssonlab/src/paulssonlab/martens/trenchcoat/README.md
Due: none

Initial commit
  paulssonlab/src/paulssonlab/martens/trenchcoat/convert.py
  paulssonlab/src/paulssonlab/martens/trenchcoat/params.txt
  paulssonlab/src/paulssonlab/martens/trenchcoat/run.sh
  paulssonlab/src/paulssonlab/martens/trenchcoat/segmentation.py
  paulssonlab/src/paulssonlab/martens/trenchcoat/trench_detect.py
  paulssonlab/src/paulssonlab/martens/trenchcoat/trench_measurements.py
Due: black

[shenker/snakenbake] First cut of refactoring to split off trench generation innto _snake_trenches.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black

[shenker/snakenbake] Refactored feeding channel flatten/merging into flatten_or_merge function. WIP manifold chips. Widths of manifold channels is wrong.
  paulssonlab/src/paulssonlab/shenker/snakenbake/200130 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/geometry.py
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black, jupytext

[shenker/snakenbake] WIP manifold snake design. Switched to ladder manifold, only implemented inlet side. All junctions are right-angled.
  paulssonlab/src/paulssonlab/shenker/snakenbake/200131 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black, jupytext

[shenker/snakenbake] WIP manifold snake design. Inlet side of manifold working. Added bend in last connection.
  paulssonlab/src/paulssonlab/shenker/snakenbake/200131 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black, jupytext

[shenker/snakenbake] Trenches needed to be offset in manifold design.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black

[shenker/snakenbake] Select reference square and alignment mark dimensions compatible with arbitrary wafer sizes.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black

[shenker/snakenbake] Changed num_inputs to num_manifolds, added add_remainder flag (false by default) to help ensure uniform flow rates/snake resistances.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black

[shenker/snakenbake] Draft of manifold chip wafer.
  paulssonlab/src/paulssonlab/shenker/snakenbake/200203 Single-input Basilisk.ipynb
Due: jupytext

[shenker/snakenbake] Added rounded corners to manifold chip.
  paulssonlab/src/paulssonlab/shenker/snakenbake/200206 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black, jupytext

[shenker/snakenbake] Renamed width/length/size arguments in alignment crosses to length/width/thickness.
  paulssonlab/src/paulssonlab/shenker/snakenbake/geometry.py
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black

[shenker/snakenbake] Initial implementation of registration marks.
  paulssonlab/src/paulssonlab/shenker/snakenbake/200207 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/200208 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/200212 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/hamming.py
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenmake.py
Due: black, jupytext

[shenker/snakenbake] Renamed snakenmake to snakenbake (which was a mistake that I only noticed now, years after the fact). Removed old Jupyter notebooks.
  paulssonlab/src/paulssonlab/shenker/snakenbake/180501 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/180503 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/180508 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/180509 Font testing.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/180510 Font testing.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/180513 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/180516 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/180517 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/180520 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/180930 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/181004 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/181115 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/181204 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/191205 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/191208 Prototyping.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/200131 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/200203 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/200206 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/200207 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/200208 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/200212 Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black, jupytext

[shenker/snakenbake] Updated environment.yml.
  paulssonlab/src/paulssonlab/shenker/snakenbake/environment.yml
Due: none

Forgot to add conda-forge to environment.yml. conda env export --from-history does not correctly add this.
  environment.yml
Due: none

[shenker/snakenbake] Can encode chip_id in registration marks.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black, jupytext

[shenker/snakenbake] Removed comments.
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black

[shenker/snakenbake] Manifold port placement now matches single snakes, with inlets in upper left and lower right.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black, jupytext

[shenker/snakenbake] Switched to U-turn manifold inputs.
  paulssonlab/src/paulssonlab/shenker/snakenbake/Single-input Basilisk.ipynb
  paulssonlab/src/paulssonlab/shenker/snakenbake/snakenbake.py
Due: black, jupytext

Path conditions:
  black: any of: \.py$
  jupytext: any of: \.ipynb$
